@import './theme';

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: column;
}

.base-wrapper {
  font-size: 0.9rem;
  background: $monokai-backgroundColor;
  color: $monokai-color;
  min-height: 100vh;
  padding-top: 1em;
  line-height: 1.55;
}

.base-wrapper-inner {
  margin: 0 auto;
  width: 90vw;
  min-width: 200px;
  padding: 0.5em 0;
  @media (min-width:600px) {
    padding: 1em;
    max-width: 800px;
    width: 80vw;
  }
}

/** component styles **/
.about {
  @media (min-width:600px) {
     padding-bottom: 1em;
   }
   h1 {
    font-weight: 300;
    span {
       font-weight: 500;
    }
  } 
}

.resume {
  .section {
    margin-bottom: 3em;

    > div {
      border-bottom: 1px dashed $monokai-dividerColor;
      padding: 1em 0;
    }

    h3 {
      margin-bottom: 0;
      color: $monokai-emphasisTextColor;
    }
    h4 {
      text-transform: uppercase;
      color: $monokai-emphasisLabelColor;
    }
    p {
      white-space: pre-line;
      margin-top: 0.5em;
    }
    span {
      font-size: 0.9em;
      color: $monokai-lightTextColor;
    }
  }
}

.topBar {
  background-color: $monokai-backgroundColor;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.25em 0;

  .siteMark {
    padding-right: 0.5rem;
  }

  .logoGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10em;
    line-height: 0;
    margin-left: 0.5em;

    a {
      margin-right: 0.3rem;
      margin-left: 0.3rem;
      &:hover {
        opacity: 0.7
      }
    }
  }

}

.footer {
  .bottomBadge {
    position: fixed;
    bottom: 0;
    right: 10px;
    background-color: $monokai-color;
    border-radius: 0.2em 0.2em 0 0;
    font-Size: 10px;
    a {
      color:$monokai-backgroundColor;
      text-decoration: none;
      opacity: 0.6;
      padding: 0 1em;
      display: block;
      line-height: 2.5em;
    };
    a:hover {
      opacity: 1
    }
  }
}
/** theme toggle **/
// export const StyledTopBar = styled.div`
//   background-color: #bfbdac;
//   display: flex;
//   justify-content: space-between;
//   width: 100%;
//   padding: 0.25em 0;
//   .radioGroup {
//     .MuiRadio-root  {
//       color: ${props => props.theme.backgroundColor};
//       padding: 0.1em;
//     }
//     .Mui-checked {
//       color: ${props => props.theme.backgroundColor};
//     }
//   }
// `

// export const StyledLabel = styled.label`
//   display: none;
//   @media (min-width: 600px) {
//     display: inline;
//     text-transform: uppercase;
//     font-size: 0.75em;
//     color: #272820
//   }
// `
