$monokai-backgroundColor: #272821;
$monokai-color: #ddccba;
$monokai-emphasisTextColor: #9CD32E;
$monokai-emphasisLabelColor: #EF296E;
$monokai-lightTextColor: #b2a495;
$monokai-dividerColor: #b2a495;
$monokai-successColor: #006400;
$monokai-alertColor: #800000;

$dark-backgroundColor: #060914;
$dark-color: #e2e2e2;
$dark-emphasisTextColor: #A9BFCC;
$dark-emphasisLabelColor: #636363;
$dark-lightTextColor: #a0a0a0;
$dark-dividerColor: #a0a0a0;
$dark-successColor: #006400;
$dark-alertColor: #800000;

$bright-backgroundColor: #ffffff;
$bright-color: #1c1c1c;
$bright-emphasisTextColor: #000000;
$bright-emphasisLabelColor: #8e8d8d;
$bright-lightTextColor: #706d6d;
$bright-dividerColor: #706d6d;
$bright-successColor: #8fbc8f;
$bright-alertColor: #fa8072;

$solarized-backgroundColor: #FDF6E3;
$solarized-color: #586D75;
$solarized-emphasisTextColor: #D33681;
$solarized-emphasisLabelColor: #5FB2A7;
$solarized-lightTextColor: #7b95a0;
$solarized-dividerColor: #B8BFB8;
$solarized-successColor: #8fbc8f;
$solarized-alertColor: #fa8072;

