<style>
.about {
  h1 {
   font-weight: 300;
   span {
      font-weight: 500;
   }
  }
  @media (min-width:600px) {
     padding-bottom: 1em;
   }
}
</style>

<div class="about">
  <h1>Chienyi <span>Cheri Hung</span></h1>
  <p>
  Full-stack engineer and tech lead with experience in managing software development through its full lifecycle. Specializes in full Javascript stack with React and Node.  
  </p>
  <p>Currently, enjoying working on challenges with scalability and a distributed architecture.</p>
</div>

